In [2]:
import pandas as pd

channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')

video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

display(channel.head())

display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [3]:
# 1. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

video_ex01 = video.copy()

# ct 컬럼을 시간으로 인지할 수 있게 데이터 타입을 변경한다.
video_ex01['ct'] = pd.to_datetime(video_ex01['ct'])

# videoname value 마다 몇 개의 데이터를 가지고 있는가?
display(video_ex01['videoname'].value_counts())

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

In [4]:
# 2. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라
# groupby 대신에 drop_duplicates 를 더 사용하는 연습을 해보자.

video_ex02 = video.copy()

video_ex02['ct'] = pd.to_datetime(video_ex02['ct'])

video_ex02 = video_ex02 \
                .sort_values(['videoname', 'ct']) \
                .drop_duplicates('videoname', keep = 'last') \
                [['viewcnt', 'videoname', 'ct']] \
                .reset_index(drop = True)

display(video_ex02)

   viewcnt videoname                  ct
0  3180532    공범 EP1 2021-11-01 15:30:03
1  2199328    공범 EP2 2021-11-01 15:30:03
2  1671294    공범 EP3 2021-11-01 15:30:03
3  1818493    공범 EP4 2021-11-01 15:30:03
4  1503435    공범 EP5 2021-11-01 15:30:04
5  1750222    공범 EP6 2021-11-01 15:30:04
6  1630200    공범 EP7 2021-11-01 15:30:05
7  1289088    공범 EP8 2021-11-01 15:30:05

In [5]:
# 3. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

channel_ex03 = channel.copy()

# 변환을 우선 먼저 해준다.
channel_ex03['ct'] = pd.to_datetime(channel_ex03['ct'])

base_date = pd.to_datetime('2021-10-03')

channel_ex03 = channel_ex03 \
                        .loc[channel_ex03['ct'] >= base_date] \
                        .sort_values(['ct', 'channelname']) \
                        .drop_duplicates('channelname', keep = 'first') \
                        [['channelname', 'subcnt']] \
                        .reset_index(drop = True)

display(channel_ex03)

        channelname   subcnt
0            논리왕 전기   922000
1             야전삽짱재   257000
2        츄정ChuJeong   322000
3        김농밀의 농밀한 삶     7520
4       릴펄 Lilpearl    10100
5   와글와글 WagleWagle    55000
6               조나단   215000
7           형사!탐정되다    14900
8     Balming Tiger    54300
9     곽토리 kwak tori   471000
10              꽈뚜룹  1330000

In [6]:
# 4. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라
# 증가량 구하기 -> 최대 - 최소 를 사용하라.

channel_ex04 = channel.copy()

channel_ex04['ct'] = pd.to_datetime(channel_ex04['ct'])

# 시작 시간, 종료 시간 데이터를 가져온다.
channel_ex04_start = channel_ex04.loc[channel_ex04['ct'].dt.strftime('%Y-%m-%d %H') == '2021-10-03 03']
channel_ex04_end = channel_ex04.loc[channel_ex04['ct'].dt.strftime('%Y-%m-%d %H') == '2021-11-01 15']

end_df = channel_ex04_end[['channelname', 'subcnt']].reset_index(drop = True)
start_df = channel_ex04_start[['channelname', 'subcnt']].reset_index(drop = True)

end_df.columns = ['channelname', 'end_subcnt']
start_df.columns = ['channelname', 'start_subcnt']

# 위 데이터들을 merge 시켜 계산한다.
tdf = pd.merge(start_df, end_df)
tdf['amount'] = tdf['end_subcnt'] - tdf['start_subcnt']
display(tdf[['channelname', 'amount']])

        channelname  amount
0               꽈뚜룹   70000
1             야전삽짱재   11000
2        츄정ChuJeong    1000
3            논리왕 전기  -11000
4   와글와글 WagleWagle       0
5               조나단   12000
6           형사!탐정되다   10300
7        김농밀의 농밀한 삶    1540
8       릴펄 Lilpearl   11000
9     곽토리 kwak tori   -2000
10    Balming Tiger    2500

In [7]:
# 5. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

import datetime

video_ex05 = video.copy()

# 문자열 포함은 부스트코스에서 배웠다.
ep1 = video_ex05

ep1['ct'] = pd.to_datetime(ep1['ct'])

ep1 = video_ex05.loc[
    video_ex05['videoname'].str.contains('EP1')
].sort_values('ct').reset_index(drop = True)

# 인덱스는 아래와 같이 나오지만... 해당 영역에 대한 포함은 보장하지 못 한다. 그래서 아래와 같이 수동 (?) 적으로 넣을 수 밖에 없을 것이다.
ep1 = list(ep1.loc[(ep1['ct'].diff(1) >= datetime.timedelta(minutes = 20)) | (ep1['ct'].diff(1) <= datetime.timedelta(minutes = 5))].index)

display(video_ex05.loc[video_ex05.index.isin(ep1 + [720, 723, 1635, 1637])])

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

In [25]:
# 6. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라
video_ex06 = video.copy()

# 변환 우선
video_ex06['ct'] = pd.to_datetime(video_ex06['ct'])

video_ex06 = video_ex06.sort_values('ct')

video_ex06 = video_ex06[['videoname', 'ct']] \
                .drop_duplicates('videoname', keep = 'first')

video_ex06['time'] = video_ex06['ct'].dt.strftime('%Y-%m-%d')

display(video_ex06[['videoname', 'time']])

      videoname        time
10       공범 EP1  2021-10-07
3496     공범 EP2  2021-10-09
6696     공범 EP3  2021-10-14
9264     공범 EP4  2021-10-16
11544    공범 EP5  2021-10-21
13661    공범 EP6  2021-10-23
13106    공범 EP7  2021-10-28
14935    공범 EP8  2021-10-30

In [30]:
# 7. “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

video_ex07 = video.copy()

# 변환 우선
video_ex07['ct'] = pd.to_datetime(video_ex07['ct'])

# 공개된 날의 시간을 우선 가지고 올 것.
video_ex07['hour'] = video_ex07['ct'].dt.hour

video_ex07 = video_ex07.loc[
                video_ex07['hour'] == 21
            ].sort_values(['videoname', 'ct']) \
            .drop_duplicates('videoname', keep = 'first') \
            .sort_values('viewcnt', ascending = False) \
            [['videoname', 'viewcnt', 'ct']] \
            .reset_index(drop = True)

display(video_ex07)

  videoname  viewcnt                  ct
0    공범 EP8   264029 2021-10-30 21:00:08
1    공범 EP7   252032 2021-10-28 21:00:04
2    공범 EP4   217674 2021-10-16 21:00:04
3    공범 EP6   213899 2021-10-23 21:00:06
4    공범 EP5   201179 2021-10-21 21:00:04
5    공범 EP2   148144 2021-10-09 21:00:03
6    공범 EP3   147183 2021-10-14 21:00:04
7    공범 EP1   117340 2021-10-07 21:00:03

In [32]:
# 8. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라
video_ex08 = video.copy()

# ratio 처리
video_ex08['ratio'] = video_ex08['dislikecnt'] / video_ex08['likecnt']

video_ex08 = video_ex08 \
                .sort_values(['videoname', 'ct']) \
                .drop_duplicates('videoname', keep = 'last') \
                .sort_values('ratio', ascending = True) \
                [['videoname', 'ratio']]

display(video_ex08)

      videoname     ratio
13660    공범 EP7  0.013636
14934    공범 EP6  0.015881
11543    공범 EP4  0.017971
13105    공범 EP5  0.021128
9263     공범 EP3  0.022360
3491     공범 EP1  0.027118
6695     공범 EP2  0.029844
15200    공범 EP8  0.141357

In [53]:
# 9. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라.
video_ex09 = video.copy()

# 문자열들로 처리하는 것이 낫기 때문에 굳이 시간 변환은 패스.
video_ex09 = video_ex09[['videoname', 'ct']] \
                .value_counts() \
                .reset_index(name = 'gcnt')

display(video_ex09.loc[video_ex09['gcnt'] > 1][['videoname', 'ct']])

  videoname                   ct
0    공범 EP2  2021-10-13 09:41:37
1    공범 EP1  2021-10-13 09:41:37

In [56]:
# 10. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

# 증가량은 아래 함수로 계산한다.
def calc_amount(x):
    return max(x) - min(x)

video['ct'] = pd.to_datetime(video['ct'])

start = pd.to_datetime("2021-11-01 00:00:00")
end = pd.to_datetime("2021-11-01 15:00:00")

target = video.loc[(video["ct"] >= start) & (video['ct'] <= end)].reset_index(drop=True)

answer = target[['videoname','viewcnt']].groupby("videoname").agg(calc_amount)

display(answer)

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147