## 문제 참조
- https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

In [4]:
# 유튜브 인기동영상 데이터
# 문제에서는 등록 날짜 ASC 로 되어 있다는 점을 인지하라. 그래서 출력 결과물은 날짜 순으로 나오게 될 것이다.
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [5]:
# 1. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)
# ['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

# groupby 로 연습하기 - Pandas 에 익숙해지기 위해 일부러 작성.
df_popular = df.copy()

# 인기 동영상은 채널 ID 를 통해 취합된다. 상위 10 개 인덱스를 만들어 둔다.
popular_channelIdxs = df_popular \
                            .groupby('channelId') \
                            .agg(cnt = ('channelId', 'count')) \
                            .sort_values(by = 'cnt', ascending = False) \
                            .head(10) \
                            .index

# 상위 인덱스 10 개를 뽑았다면, 해당 인덱스의 존재 여부를 isin 으로 따진다. 그리고, 채널 이름을 가져오게 되면 여러 개 나오기 때문에 unique 로 취합한다.
channel_names = list(df_popular.loc[df_popular['channelId'].isin(popular_channelIdxs)]['channelTitle'].unique())

# 채널 이름 목록들은 Series 로 나오기 때문에, list 화 시켜 반환한다.
print(channel_names)

# 모범 답안
answer = list(
    df \
        .loc[
            df['channelId'].isin( \
                df['channelId']
                    .value_counts()
                    .head(10)
                    .index
                )
        ]['channelTitle']
    .unique()
)

print(answer)

['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']
['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

In [6]:
# 2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes 수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라.
# ['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']
df_dislike = df.copy()

# unique() 를 사용하면 Series 로 반환된다.
dislike_channelIds = df_dislike \
                        .loc[df_dislike['likes'] < df_dislike['dislikes']]['channelId'] \
                        .index

# 위와 같은 순으로 정답을 출력하기 위해... 코드 상 복잡도가 커지더라도, 아래와 같이 작성하는 것이 옳다.
print(list(df_dislike.loc[df_dislike.index.isin(dislike_channelIds)]['channelTitle'].unique()))

# 모범답안
answer = list(
    df_dislike.loc[
        df_dislike['likes'] < df_dislike['dislikes']
    ]['channelTitle'].unique()
)

print(answer)

['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']
['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']

In [7]:
# 3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라.
# 71

df_change = df.copy()

# count 는 N/A 이 아닌 데이터 개수. nunique 는 해당 group 의 원소 개수.
df_change_rows = df_change \
        .groupby(['channelId']) \
        .agg(cnt = ('channelTitle', 'nunique')) \
        .reset_index()

print(len(
    df_change_rows.loc[
        df_change_rows['cnt'] > 1
    ]
))

# 모범 답안
answer = df_change[['channelTitle', 'channelId']] \
            .drop_duplicates() \
            ['channelId'].value_counts()

# Series 에 대해서도 원소의 조건에 따라 아래와 같이 취합시킬 수 있다. 뭉제 풀이에 참고하길 바란다.
print(len(
    answer[answer > 1]
))

71
71

In [8]:
# 4. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?
# 24

df_sunday = df.copy()

# DateTime 으로 계산하기 위해 아래와 같이 변환 과정을 거쳐야 한다.
df_sunday['trending_date2'] = pd.to_datetime(df_sunday['trending_date2'])

# 일요일은 6, 월요일은 0 으로 받는다. 요일 값은 weekday 로 받는다.
# day_name() == 'Sunday' 로 해도 무관하다.
df_sunday_categoryId = df_sunday \
    .loc[
        df_sunday['trending_date2'].dt.weekday == 6
    ].groupby('categoryId') \
    .agg(cnt = ('categoryId', 'count')) \
    .sort_values(by = 'cnt', ascending = False) \
    .head(1) \
    .index[0]

print(df_sunday_categoryId)

# 모범답안 (짧은 답을 원하면, value_counts 를 사용하는 것도 괜찮은 거 같다.)
df_sunday['trending_date2'] = pd.to_datetime(df_sunday['trending_date2'])

answer = df_sunday.loc[
            df_sunday['trending_date2'].dt.day_name() == 'Sunday'
        ]['categoryId'] \
        .value_counts() \
        .index[0]

print(answer)

24
24

In [9]:
# 5. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라
# 정답은 사이트 그대로 참조해서 진행하면 되겠다.

df_weekday = df.copy()

df_weekday['trending_date2'] = pd.to_datetime(df_sunday['trending_date2'])

# 요일을 먼저 구해준다.
df_weekday['day_name'] = df_weekday['trending_date2'].dt.day_name()

answer_my = df_weekday[['categoryId', 'day_name']].groupby(['categoryId', 'day_name']).agg({ 'categoryId': 'count' }).unstack()

display(answer_my)

# 모범 답안
df_weekday['trending_date2'] = pd.to_datetime(df_sunday['trending_date2'])

# as_index 의 역할에 대해 알아야 한다. 이는 Row, Col 로 구성할 수 있게끔 여부를 뜻하는 것으로 판단된다.
group = df_weekday.groupby([df_weekday['trending_date2'].dt.day_name(), 'categoryId'], as_index = False).size()

answer = group.pivot(index = 'categoryId', columns = 'trending_date2')

display(answer)

           categoryId
day_name       Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [14]:
# 6. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count 값이 0인 경우는 제외한다)

df_comment = df.copy()

# 문제 요구 사항에 따라 view_count 값이 0 이 아니어야 한다.
df_comment = df_comment \
                .loc[df_comment['view_count'] != 0]
                
# dropna 는 값이 안 나오는 케이스에 대한 보안 로직으로 보면 된다.
df_comment['ratio'] = (df_comment['comment_count'] / df_comment['view_count']).dropna()

df_comment = df_comment.sort_values(by = 'ratio', ascending = False)

# head() 로 데이터를 가져와도 값을 반환하는 것이 아님을 유의하라. 아래와 같이 loc 을 적극 사용하는 것이 좋다.
print(df_comment.iloc[0]['title'])

60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)

In [23]:
# 7. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)
df_ratio = df.copy()
                
# dropna 는 값이 안 나오는 케이스에 대한 보안 로직으로 보면 된다.
df_ratio['ratio'] = (df_ratio['comment_count'] / df_ratio['view_count']).dropna().sort_values()

df_ratio = df_ratio.loc[df_ratio['ratio'] != 0]

df_ratio = df_ratio.sort_values(by = 'ratio', ascending = True)

# head() 로 데이터를 가져와도 값을 반환하는 것이 아님을 유의하라. 아래와 같이 loc 을 적극 사용하는 것이 좋다.
print(df_ratio.iloc[0]['title'])

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

In [ ]:
# 8. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)
target = df.loc[(df.likes !=0) & (df.dislikes !=0)]
num = (target['dislikes']/target['likes']).sort_values().index[0]

answer = df.iloc[num].title
print(answer)